{% extends "base.html.twig" %}
{% block body %}
	<div class="container-fluid">
		<p><a href='{{ path('homepage') }}'>Ga terug naar homepage</a></p>
		<div id="logo">
			<a href='{{ path('homepage') }}'><img src='{{ asset('images/Logo klein.png') }}' class="img-border"></a>
		</div>
		<div id="contentwrapper">
			<div id="content">
				
				
				<ul>
					{% for result in results %}
						<li>
							{{ shops.id }}<br>
				{{ shops.shopName }}<br>
				{{ shops.description }}<br>
				{{ shops.url }}<br>
				{{ shops.keywords }}<br
							>
							
						</li>
					{% endfor %}
				</ul>
				   	
				    
				   
				    
			


			</div>
		</div>
		<p><a href='{{ path('homepage') }}'>Ga terug naar homepage</a></p>
	</div>
{% endblock %}